
.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;

  & img {
    height: 45px;
    border-radius: 100%;
    object-fit: cover;
  }
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 300px;

  margin: 0 10px 20px; 
  overflow-wrap: break-word;
}

.chat-message-profile {
  width: 45px;
}

.time-stamp {
  color: gray;
  font-size: smaller;
  margin-top: 0.3em;
}